# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=ksc63oa8
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_WRITE_TOKEN=your_sanity_write_token_here

# Domain URL
NEXT_PUBLIC_BASE_URL=https://jnukmi.com

# NextAuth v5 & Google OAuth
AUTH_SECRET=your_auth_secret_32_characters_here
AUTH_GOOGLE_ID=your_google_client_id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your_google_client_secret
ADMIN_EMAILS=admin1@gmail.com,admin2@gmail.com

# Supabase Database
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# Google Search Console (Opsional)
NEXT_PUBLIC_GOOGLE_VERIFY=

